/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    .features li {
        display: block!important;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

h1.postHeaderTitle{
    margin-top: 50px;
}

.about, .sql, .community, .interfacesBlock, .moore {
    font-family: Source Sans Pro, serif;
    font-weight: 300;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

.news {
    font-family: Source Sans Pro, serif;
    font-weight: 400;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    padding-left: 19%;
    padding-right: 19%;
    color: #26486a;
}

.sql, .community, .about {
    background-color: rgba(240, 244, 244, 0.33);
}


.title {
    font-size: 48px;
    font-weight: 300;
    text-align: left;
    display: block;
}

.about title{
    font-size: 48px;
    font-weight: 300;
    text-align: left;
    display: block;
}

.headTitle {
    font-size: 65px;
}

.docMainWrapper{
    font-family: Source Sans Pro, serif;
    margin-top: 30px;
}

.docMainWrapper.wrapper{
    text-align: justify;
}

.toptitle {
    text-align: center;
    alignment: center;
    align-items: center;
    display: block;
    font-weight: 900;
    font-family: Source Sans Pro, serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.toptitle .logo {
    height: 120px;
    object-fit: contain;
    margin-left: -10px;
}


div.blockjustified{text-align: justify}


.features {
    padding: 0;
    margin: 0;
    /*display: block;*/
    text-align: left;
    /*white-space: nowrap;*/
}

.featList {
    list-style: none;
}

.featList li{
    display: inline-block;
    float: left;
}

.features li {
    background-image: url('../img/checkmark.png');
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 37px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 19px;
    font-weight: 800;
    display: block;
    text-align: left;
}

.interfaces li {
/*    background-image: url('../img/checkmark.png');*/
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 37px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    display: block;
    text-align: left;
}

.interfaces img{
    padding-top: 10px;
}

.mainContainer .twoByGridBlock ul {
    padding: 0;
}

.buttons {
    padding: 0;
    margin: 50px 0;
}


.buttons li {
    display: inline-block;
    /*border: 1px solid #984631;*/
    border: 1px solid rgb(0,30,65);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 5px;
    transition: transform 0.2s;
    margin-right: 25px;
}

.buttons li.cta {
    display: inline-block;
    /*background-color: #ac4631;*/
    background-color: rgb(0,30,65);
    color: white;
    transition: transform 0.2s;
}

.buttons li.cta a, .buttons li:hover a {
    color: white;
}

.buttons li:hover {
    cursor: pointer;
    background-color: rgb(0, 49, 118);
    /*background-color: #de4f3a;*/
    /*transform: translate(0px, -2px);*/
    transform: scale(1.02);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.mainContainer li img {
    vertical-align: middle;
}

.mainContainer li svg {
    vertical-align: middle;
    margin-left: 5%;
}

.inner small {
    font-size: x-large;
    font-weight: normal;
    color: #2d00a1;
}

.mainContainer {
    padding-top: 0;
}

.homeContainer .homeSplashFade .wrapper .homeWrapper {
    font-weight: bolder;
}

.sql, .community, .moore, .interfacesBlock {
    padding-top: 50px;
    padding-bottom: 40px;
}

.moore {
    padding-left: 25%;
    padding-right: 25%;
}

.sql img {
    box-shadow: 10px 10px 5px grey;
    border: 1px solid #ccc
}

div.interfaces {
    margin-top: 40px;
}

div.about {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

div.community img {
    padding-top: 10%;
    width: 60%;
    height: 60%;
}

div.about ul {
    display: inline-block;
}

div.about li {
    display: inline;
    margin-right: 25px;
}

.sitemap a {
    font-size: 14px;
    text-transform: uppercase;
}

.sitemap h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}

.wave{
    background:
            linear-gradient(to right, sandybrown, chocolate);
    height: 50px;
    position: relative;
}
.wave::before, .wave::after{
    border-bottom: 5px solid yellow;
}
.wave::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-size: 20px 40px;
    background-image:
            radial-gradient(circle at 10px -15px, transparent 20px, yellow 21px);
}
.wave::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image:
            radial-gradient(circle at 10px 26px, yellow 20px, transparent 21px);
}

article h2, article h3, article h4 {
    margin-top: 2em;
}

article a {
    color: #d44d38;
    font-weight: 400;
}