/* your custom css */


.fixedHeaderContainer .wrapper {
    max-width: 1400px!important;
}

h1.postHeaderTitle {
    padding-top: 100px;
}

.toptitle, .sql, .community, .interfaces, .whatwedo, .perf, .demo {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.title {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


#getStartedInstall, #getStartedQuestion, #getStartedTuto, #backButton {
    display: none;
}

body > div.navPusher > div > div.mainContainer > div.toptitle > div > div > div > div > div.blockContent > div > span > p:nth-child(1) > span {
    text-align: left;
}

body > div.navPusher > div > div.mainContainer > div.toptitle > div > div {
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#start {
    background-color: #e6e8ea;
}

#start > div.startlist > div > div > div > div,
#getStartedInstall > div.startlist > div > div > div > div,
#getStartedQuestion > div.startlist > div > div > div > div,
#getStartedTuto > div.startlist > div > div > div > div {
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.20);
    transition: 0.8s;
}


#start > div.startlist > div > div > div > div:hover,
#getStartedInstall > div.startlist > div > div > div > div:hover,
#getStartedQuestion > div.startlist > div > div > div > div:hover,
#getStartedTuto > div.startlist > div > div > div > div:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
    background-color: #fdffff;
}

body > div.navPusher > div > div.mainContainer > div.toptitle > div > div > div > div.blockElement.imageAlignSide.imageAlignLeft.twoByGridBlock > div.blockContent {
    display: none;
}

.container .wrapper .imageAlignSide p {
    margin-bottom: 0;
}

.left {
    text-align: left;
}

.centeredContainer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.whatwedo p {
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.whatwedo .title {
    color: black;
}

.icons {
    font-size: 9px;
    color: rgba(211, 211, 211, 0.64);
}

.icons a {
    color: lightgray;
}

.whatwedo {
    background-color: #e6e8ea;
    color: black;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

div.whatwedo {
    padding-top: 70px
}

.docMainWrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#search_input_react {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.docMainWrapper.wrapper {
    text-align: justify;
}

.consoleGIF img {
    position: relative;
    display: block;
    width: auto;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    box-shadow: 10px 30px 30px 20px rgba(0, 0, 0, 0.55);

}

body > div.navPusher > div > div.mainContainer > div.interfaces > div > div > div > div > div.blockContent {
    display: none;
}

.consoleGIF {
    margin-top: -200px;
    margin-bottom: -20px;
}

div.blockContent div.interfaces {
    display: none;
}

.community p {
    text-align: justify;
    text-justify: inter-word;
}

.interfaces {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.sql {
    margin-bottom: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.sql p {
    text-align: center;
}

div.blockjustified {
    text-align: justify
}

.mainContainer .twoByGridBlock ul {
    padding: 0;
}

.buttons {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    color: white;
}

.buttonsDark {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    color: blue;
}

.buttonsDark li.cta {
    display: inline-block;
    color: blue;
    transition: transform 0.2s;
}


.buttons li.cta {
    display: inline-block;
    color: white;
    transition: transform 0.2s;
}

.buttons li.cta a, .buttons li:hover a {
    color: white;
    cursor: pointer;
}

.mainContainer li img {
    vertical-align: middle;
}

.mainContainer li svg {
    vertical-align: middle;
    margin-left: 5%;
}

.inner small {
    font-size: x-large;
    font-weight: normal;
    color: #2d00a1;
}

.mainContainer {
    padding-top: 0;
}

.homeContainer .homeSplashFade .wrapper .homeWrapper {
    font-weight: bolder;
}

.homeSplashFade {
    display: none;
}

.featuresList div.blockElement.imageAlignSide.imageAlignLeft.threeByGridBlock {
    width: 33%;
    display: inline-table;
}

.interfaces title {
    margin-bottom: 50px;
}

.whatwedo {
    padding-top: 100px;
    padding-bottom: 100px;
}

.perf {
    padding-top: 100px;
    padding-bottom: 100px;
}

.careers{
    padding-top: 100px;
    padding-bottom: 20px;
}

.careers-footer{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 120%;
}

.careers img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: -5%;
    margin-bottom: -5%;
}

.job {
    /*The negative margin is intentional so job sections reached via hyperlink appear correctly as the title
    would otherwise be hidden by the top menu. IT is offset by the padding.*/
    margin-top: -80px;
    padding-top: 120px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #2371b5;
}

.job-list{
    margin-top: -120px;
    padding-top: 120px;
    padding-bottom: 40px;
}


.jobtitle{
    margin-bottom: 10px;
    font-size: 30px;
    text-align: left;
    display: block;
}

.jobsubtitle{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    display: block;
}

div.subtitle.perfbottom {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}


.perflist {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.perflist .subtitle {
    color: gray;
}


.perflist img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 50px;
    filter: grayscale(60%) contrast(40%);
    height: 120px;
}

.startlist {
    margin-top: 5%;
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.startlist .subtitle {
    color: gray;
}

div.startlist div.blockImage {
    margin-top: 10%;
    margin-bottom: 10%;
}

.start img {
    height: 150px;
}


.interfaces img {
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.interfaces p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

div.subtitle {
    text-align: center;
}

.imageAlignLeft .blockImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.featuresList p {
    alignment: center;
}

.featuresList img {
    filter: invert(0.3);
}

div.interfaces {
    margin-top: 40px;
}


.mainContainer h1 {
    color: #2371b5;
    font-size: 44px;
}


.mainContainer h2 {
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 31px;
    border-bottom: 3px solid #2371b5;
    color: #2371b5;
}

.mainContainer h3 {
    margin-top: 55px;
    color: #2371b5;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #004a3f;
}

.mainContainer blockquote {
    background-color: rgba(0, 144, 127, 0);
    font-size: 16px;
    color: black;
    border-left-color: #e68200;
    border-left-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

code {
    color: #35393b;
    font-weight: bold;
}

.console {
    height: 800px;
    display: block;
    margin: 40px auto;
    width: 80%;
    border-radius: 12px;
    background: none;
}

.demo {
    color: white;
    background-color: lightslategrey;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.55);
}

/*.slidingNav li:nth-child(5) {*/
/*    background-color: #e68200;*/
/*    font-weight: 500;*/
/*    border-radius: 2px;*/
/*}*/

.slidingNav li {
    font-weight: 500;
    border-radius: 2px;
}

.slidingNav li:hover:not(:last-child) {
    font-weight: 500;
    border-bottom: 4px solid #e68200;
}

.slidingNav {
    background-color: #2371b5;
    padding-bottom: 10px;
}

.slidingNav .siteNavItemActive {
    background-color: #e68200;
}

.slidingNav .siteNavItemActive a {
    background-color: #e68200;
}


div.blockImage {
    margin-bottom: 0;
    padding-bottom: 0;
}

.toptitle p {
    display: block;
    margin-bottom: 10px;
}

.sitemap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 10%;
}

.colored {
    color: #2371b5;
}

.bold   {
    font-weight: 400;
}

footer.nav-footer {
    padding-top: 50px;

}


.fixedHeaderContainer img {
    filter: brightness(100) contrast(100) drop-shadow(2px 4px 6px black) grayscale(100%);
}

.fixedHeaderContainer h2 {
    filter: brightness(100) contrast(100) drop-shadow(2px 4px 6px black);
}

.toptitle {
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    min-height: 200px;
    color: #edffff;
    background: linear-gradient(180deg, #2371b5 0%, #2371b5 55%, #1a5487 100%);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.startTitle {
    padding-bottom: 30px;
    position: relative;
    min-height: 150px;
}

.nav-footer {
    /*    background-color: #2371b5;*/
    background: linear-gradient(0deg, #2371b5 0%, #2371b5 55%, #1a5487 100%);
}

.fixedHeaderContainer {
    background-color: #2371b5;
}

body > div.fixedHeaderContainer {
    padding-bottom: 20px;
}

.sitemap a {
    font-size: 11px;
    text-transform: uppercase;
}

.sitemap h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.buttons li {
    display: inline-block;
    color: white;
    /*border: 1px solid #984631;*/
    border: 1px solid rgb(250, 240, 255);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 5px;
    transition: transform 0.2s;
}


.buttons li:hover {
    cursor: pointer;
    color: white;
    background-color: #e68200;
    /*background-color: #de4f3a;*/
    /*transform: translate(0px, -2px);*/
    transform: scale(1.02);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


.wave {
    background: linear-gradient(to right, sandybrown, chocolate);
    height: 50px;
    position: relative;
}

.wave::before, .wave::after {
    border-bottom: 5px solid yellow;
}

.wave::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-size: 20px 40px;
    background-image: radial-gradient(circle at 10px -15px, transparent 20px, yellow 21px);
}

.wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle at 10px 26px, yellow 20px, transparent 21px);
}

.careers, .job {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center{
    text-align: center;
}

.apply{
    background-color: #f1f1f1;

}

.apply-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
}

.apply-steps {
    list-style-type: none;
    padding-left: 0;
}

.apply-steps li{
    font-weight: 500;
    color: #2371b5;
}


@media only screen and (max-width: 735px) {

    .toptitle img {
        display: none;
    }

    .toptitle, .sql, .community, .interfaces, .whatwedo, .perf, .demo, .start {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .toptitle {
        padding-top: 20px;
        margin-top: 0;
    }


    .title {
        font-size: 28px;
        font-weight: 400;
    }


    .sql p, .interfaces p {
        text-align: center;
        font-size: 20px;
    }

    .sql, .interfaces {
        width: 75%;
        padding-bottom: 70px;
    }


    .docMainWrapper {
        margin-top: 20px;
    }


    .toptitle p {
        font-size: 20px;
    }

    .maintitle {
        font-size: 28px;
    }


    .buttons li {
        font-size: 11px;
    }

    .featuresList {
        width: 90%;
    }

    .whatwedo .title {
        margin-bottom: 30px;
    }

    .featuresList .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
    }

    div.gridBlock .featuresList {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;

    }


    .featuresList img {
        width: 33%;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.container .features {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .perf {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .start {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .perflist img {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }


    .perflist div.blockElement.imageAlignSide.imageAlignLeft.threeByGridBlock {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        display: block;
    }

    .perflist img {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .startlist img {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }


    .startlist div.blockElement.imageAlignSide.imageAlignLeft.threeByGridBlock {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        display: block;
    }

    .startlist img {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    div.subtitle.perfbottom {
        margin-top: 30px;
        width: 80%;
    }

    .featuresList div.container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    div.featuresList {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
    }


    .consoleGIF img {
        width: 95%;
    }

    .wrapper {
        width: 100%;
    }

    .interfaces {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .fixedHeaderContainer {
        font-size: 14px;
    }

    .nav-footer {
        font-size: 8px;
    }

    .sitemap a {
        font-size: 9px;
    }

    .sitemap h5 {
        font-size: 12px;
    }

    .nav-footer .sitemap {
        flex-direction: unset;
        margin-bottom: 0;
    }

    .sitemap {
        margin-bottom: 0;
        line-height: 13px;
    }

    section.copyright {
        margin-bottom: 10px;
    }

    div.footersection {
        display: block;
        width: 20%;
        margin-bottom: 0;
    }

    .navigationSlider .slidingNav ul li a {
        height: 30px;
    }

}

@media only screen and (min-width: 736px) {

    .about, .sql, .community, .interfaces, .whatwedo, .perf, .start, .demo {
        font-size: 20px;
    }

    .title {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 30px;
        font-weight: 300;
    }

    body > div.navPusher > div > div.mainContainer > div.toptitle > div > div > div > div.blockElement.imageAlignSide.imageAlignLeft.twoByGridBlock > div.blockImage {
        margin-left: auto;
        margin-right: 0;
        /*padding-left: auto;*/
        padding-right: 0;
    }

    .sql {
        width: 50%;
    }

    .start {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .headTitle {
        font-size: 35px;
        font-weight: bold;
    }

    .docMainWrapper {
        margin-top: 30px;
    }


    .toptitle p {
        font-size: 25px;
        line-height: 30px;
    }

    .maintitle {
        font-size: 60px;
    }

    div.subtitle.perfbottom {
        margin-top: 50px;
        width: 60%;
    }

    .buttons li {
        font-size: 18px;
    }


    .featuresList {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .featuresList img {
        display: block;
        width: 50%;
        margin: 50px auto 5px;
        height: 60px;
    }

    .perflist img {
        height: 80px;
    }

    .startlist img {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        max-height: 70%;
        display: block;

    }

    .interfaces {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .interfaces p {
        text-align: center;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
    }


    div.blockImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .fixedHeaderContainer, .nav-footer {
        padding-top: 20px;
        font-size: 18px;
    }
}

