.announcement {
    list-style: none;
}

.announcement .headline {
    display: block;
    font-weight: 400;
}

.announcement .summary {
    display: block;
    font-weight: 300;
    font-size: 90%;
    padding-bottom: 30px;
    width: 80%;
    color: #faf9f9;
}

.demo {
    padding: 20px 0;
}

.demo .title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.demo {
    color: white;
    background-color: #99acc0;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {

    .demo {
        margin-top: -60px;
    }
}