.announcement {
    list-style: none;
}

.announcement .headline {
    display: block;
    font-weight: 400;
}

.announcement .summary {
    display: block;
    font-weight: 300;
    font-size: 90%;
    padding-bottom: 30px;
    width: 80%;
    color: #d2d2d2;
}

.demo {
    padding: 20px 0;
}

.demo .title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.demo {
    color: white;
    background-color: lightslategrey;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.55);
}