h1.postHeaderTitle {
  padding-top: 200px;
}

.postHeaderTitle a {
  color: #2371b5;
}

.mainContainer h1 {
  margin-top: 80px;
  color: #2371b5;
  font-size: 44px;
}

.mainContainer h2 {
  padding-top: 10px;
  font-size: 28px;
  color: #2371b5;
}

.mainContainer h3 {
  margin-top: 55px;
  color: #2371b5;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(35, 113, 181, 0.44);
}

.mainContainer blockquote {
  font-size: 16px;
  color: black;
  border-left-color: #fb8e00;
  border-left-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(219, 232, 249, 0.32);
}

code {
  color: #35393b;
  font-weight: bold;
}

.nav-tabs .active {
  color: #fb8e00;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.nav-tabs {
  color: #2371b5;
  font-weight: bold;
}

.toc-headings .active {
  color: #fb8e00;
  font-weight: bold;
}

.toc-headings li a {
  color: #24292e;
}

.toc .toggleNav ul li.navListItemActive a {
  color: #fb8e00;
  font-weight: bold;
}

.toggleNav h2 i {
  font-style: normal;
}
