.signup .send a {
    padding: 7px 30px;
    width: 150px;
    background-color: #4c4c4c;
    color: white;
    border-radius: 3px;
}

.signup .send {
    margin: 25px 0 10px;
    text-align: center;
    padding: 0;
}

.signup li {
    padding: 0 0 7px 35px;
    margin: 0;
}

@media only screen and (min-width: 1001px) {
    .flip-box {
        width: 400px;
        align-self: flex-end;
        margin: -300px 5% -80px auto;
    }

    .signup, .signup-back {

        background: linear-gradient(270deg, #fd7d05, #fd8b0e, #d0720c);
        -webkit-animation: buttonAnimation 10s ease infinite;
        -moz-animation: buttonAnimation 10s ease infinite;
        animation: buttonAnimation 10s ease infinite;
        background-size: 300% 300%;

        width: 400px;
        align-self: flex-end;
        margin: -300px 5% -80px auto;
        border-radius: 8px;
        /*box-shadow: 10px 30px 30px 20px rgba(0, 0, 0, 0.55);*/
        padding: 3px;
        color: white;
        -webkit-font-smoothing: antialiased;
        opacity: .99;
    }

    .signup-back {
        height: 412px;
        margin: -400px 5% -80px auto;
        padding-top: 120px;
        font-size: 150%;
        font-weight: 600;
        text-align: center;
        transform: rotateX(180deg);
    }

    .signup-inner {
        padding: 20px 0;
        border: 1px solid white;
        border-radius: 8px;
    }

    .signup ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .signup li input {
        margin-left: auto;
        padding: 10px;
        font-size: 100%;
        align-self: center;
        width: 90%;
        font-weight: 600;
    }

    .signup .why {
        display: block;
        text-align: center;
        padding-bottom: 20px;
        font-size: 130%;
        font-weight: 400;
    }

    .flip-box {
        perspective: 1000px;
    }
}

.signup .send:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

@media only screen and (max-width: 1000px) {

    .flip-box {
        background: linear-gradient(270deg, #fd7d05, #fd8b0e, #d0720c);
        -webkit-animation: buttonAnimation 10s ease infinite;
        -moz-animation: buttonAnimation 10s ease infinite;
        animation: buttonAnimation 10s ease infinite;
        background-size: 300% 300%;

        width: 100%;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 10%;
        border-radius: 8px;
        box-shadow: 10px 30px 30px 20px rgba(0, 0, 0, 0.55);
        padding: 3px;
        color: white;
        -webkit-font-smoothing: antialiased;
        height: 400px;
    }

    .signup-inner {
        padding: 40px 0;
    }

    .signup ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .signup li input {
        margin-left: auto;
        padding: 5px;
        font-size: 100%;
        align-self: center;
        width: 90%;
    }

    .signup .why {
        display: block;
        text-align: center;
        padding-bottom: 20px;
        font-size: 130%;
        font-weight: 400;
    }

    .signup-back {
        height: 400px;
        padding-top: 100px;
        font-size: 150%;
        font-weight: 600;
        text-align: center;
        transform: rotateX(180deg);
    }

}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-inner-rotate {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.signup, .signup-back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.signup-back img {
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
    filter: invert(100%) ;
}

.signup-back .headline {
    font-weight: 600;
    font-size: 130%;
    padding-bottom: 5px;
}

.signup-back .summary {
    font-weight: 300;
    font-size: 80%;
    padding: 10px 15px;
}


.signup-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.input-error {
    border: 2px solid red;
    border-radius: 4px;
}